*{
    padding: 0;
    margin: 0;
}

.hero{
   display: flex;
   padding: 10px 90px;
   justify-content: space-between;
   color: white;
   position: fixed;
   left: 0%;
   
}

.hero ul{
    list-style: none;
    display: flex;
    font-weight: bold;
    font-size: 2em;
    gap: 40px;
    margin-top: 20px;
}
.hero h1{
    margin-top: 20px;
}
.start{
    padding: 10px 90px;
    font-size: 1.5em;
}
.contact{
    background-color: #99acff;
    width: 100%;
    height: 100%;
}
.start p{
    margin-top: 10px;
    font-size: 0.8em;
}
.ali{
    display: flex;
}
.hello img{
   width: 400px;
height: 400px;
padding-left: 40px;

}

.mbc{
    display: flex;
    width: 800px;
    height: 200px;
    background-color: rgb(101, 101, 103);
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    gap: 10px;
    box-shadow: azure 2px 2px;
    align-items: center;
    border-radius: 20px;
}
.lio i{
    margin-top: 10px;
    font-size: 1.8em;
}
.mbc p{
    color: gray;
}